<h1>Listing kategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kategories.each do |kategory| %>
      <tr>
        <td><%= kategory.name %></td>
        <td><%= link_to 'Show', kategory %></td>
        <td><%= link_to 'Edit', edit_kategory_path(kategory) %></td>
        <td><%= link_to 'Destroy', kategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kategorie', new_kategory_path %>
